@model AIJIA.Models.Order
@using AIJIA.Models;
@{
    ApplicationDbContext db = new ApplicationDbContext();
    var user = db.Users.FirstOrDefault(x => x.Id == Model.UserID);
    var list = db.OrderDetails.Where(x => x.OrderId == Model.ID).ToList();
    var facture = db.Factures.FirstOrDefault(x => x.ID == Model.FactureID);
}

<div>
    <div style="text-align:center;">
        <h3>AIJIA</h3>
        <h4><strong>Facture N°</strong> : @Model.FactureID</h4>
        <h4><strong>Commande N°</strong> : @Model.ID</h4>
        <h4><strong>Date d'émission</strong> : @Model.DateOrder</h4>
        <hr />
    </div>
    <div style="text-align:center;">
        <h3>Adresse de Livraison</h3>
        <p><strong>@user.Lastename @user.Firstname</strong></p>
        <p><strong>@user.Address</strong></p>
        <p><strong>@user.PostalCode @user.City</strong></p>
        <p><strong>@user.Country</strong></p>
        <p><strong>@user.Phone</strong></p>
        <hr />
    </div>
    <div style="text-align:center;">
        <h3>Récapitulatif De La Commande</h3>
        <table class="table">
            <tr>
                <th>
                    <p>Référence</p>
                </th>
                <th>
                    <p>Quantité</p>
                </th>
                <th>
                    <p>Prix Unitaire</p>
                </th>
                <th>
                    <p>Total TTC</p>
                </th>

            </tr>
            @foreach (var item in list)
            {

                decimal total = (decimal)@item.Quantity * @item.Price;

                <tr>
                    <td>
                        @item.ArticleId
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Price €
                    </td>
                    <td>
                        @total €
                    </td>

                </tr>
            }
        </table>
        <p><strong>Frais De livraison</strong> : @Model.AmountDelivery €</p>
        <p><strong>Somme HT</strong> : @facture.ExclVat €</p>
        <p><strong>Motant TVA</strong> : @facture.Vat €</p>
        <p><strong>Total TTC</strong> : @facture.InclVat €</p>
        <hr />
    </div>
    <div style="text-align:center;">
        <h5><strong>AIJIA</strong> : Société Anonyme SA</h5>
        <h5><strong>Siège Social</strong> : Grenoble 38000</h5>
        <h5><strong>Telephone</strong> : 0626585713 </h5>
        <h5><strong>Email</strong> : aijia@aijia.com</h5>
    </div>
</div>

