@model AIJIA.Models.Mark

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    


<div class="row formCreate">
    <div class="col-md-2"></div>
    
    <div class="col-md-8">
        <div class="form-horizontal">
            
            @*<div class="text-center titleStyle">Création Des Marques</div>*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
                <div class="btn btn-default">
                    @Html.ActionLink("Voir Marques", "Index")
                </div>
            </div>
        </div>
    </div>
</div>
}


